.App {
  text-align: center;
}

.search-bar {
  position: fixed;
  background-color: gray;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.search-bar--Text {
  width: 50%;
  height: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}

.search-bar--Button {
  width: 8%;
  height: 2em;
  background-color: white;
  margin-left: 1rem;
  line-height: 2em;
}
